In [0]:
# importar librerias a utilizar
import numpy as np
from random import shuffle
import pandas as pd

# Ordenamiento Método Burbuja

In [0]:
# ORDENACION METODO BURBUJA--------------------------------------------------------------------------
def bubble_sorting(lista, descendente=False):
  lista = lista.copy()
  datos_ordenados = 0
  while datos_ordenados < len(lista):  
    for i in range(1, len(lista)):
      if descendente == False and lista[i] < lista[i-1]: # si el valor i es menor al valor anterior
        lista[i], lista[i-1] = lista[i-1], lista[i] # intercambiar valores
        datos_ordenados = 0
      elif descendente == True and lista[i] > lista[i-1]: # si el valor i es menor al valor anterior
        lista[i], lista[i-1] = lista[i-1], lista[i] # intercambiar valores
        datos_ordenados = 0
      else:
        datos_ordenados += 1
  return lista
#----------------------------------------------------------------------------------------------------

In [0]:
lista = np.arange(1, 101) # lista de números del 1 al 100
lista

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [0]:
shuffle(lista) # mezclar lista
print('Lista Desordenada:\n\n', lista)

Lista Desordenada:

 [ 39  56  89   7  59  35  66  92  34  43  71  12  54  29  93   5   1  38
  61  88  82  73  17  11  60  85  98  70  18   9  48  14  49  28  36  19
  79  20  67   3  78  33  65  27  62  23  21  63  80   6  94  47  22  81
  52  15  53  51  72  86  24  30  44  83 100  55   4  13  99  57  10  50
  64  91  58  96  75  74  37   8  40  69  25  32   2  45  76  87  90  95
  31  41  84  42  16  26  46  68  77  97]

In [0]:
lista_asc = bubble_sorting(lista)
print('Lista Ordenada Ascendentemente:\n\n', lista_asc, '\n\n')
%time

print('\n\n')

lista_desc = bubble_sorting(lista, descendente=True)
print('Lista Ordenada Ascendentemente:\n\n', lista_desc, '\n\n')
%time

Lista Ordenada Ascendentemente:

 [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]


CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs



Lista Ordenada Ascendentemente:

 [100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83
  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65
  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47
  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29
  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11
  10   9   8   7   6   5   4   3   2   1]


CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

# Algoritmo Voraz
Descomponer cualquier cantidad C de manera que usemos el menor numero de monedas.

In [0]:
def menor_num_monedas(monedas, c):  
  monedas = bubble_sorting(monedas, descendente=True) # ordenar de forma descendente  
  resultado = {'moneda':[]}
  iteraciones = 0 # para contar las iteraciones 
  
  while sum(resultado['moneda']) != c: # mientras falten monedas para llegar a 'c'    
    for moneda in monedas:
      iteraciones += 1
      if sum(resultado['moneda']) + moneda < c: # si todavía faltan monedas
        resultado['moneda'].append(moneda)
        break      
      elif sum(resultado['moneda']) + moneda == c: # si ya no faltan monedas
        resultado['moneda'].append(moneda)        
        # retornar Dataframe e iteraciones
        resultado_final = pd.DataFrame(resultado)['moneda'].value_counts() # contar cantidad por moneda
        resultado_final = resultado_final.sort_index(ascending=False).to_frame('cantidad') # ordenar y convertir a dataframe
        resultado_final.index.name = 'moneda' # poner nombre a indices
        return iteraciones, resultado_final      
      else:
        continue

In [0]:
monedas_dominicanas = [1, 5, 10, 20, 25, 50, 100, 200, 500, 1000, 2000]

# mostrar resultado e iteraciones
i, m = menor_num_monedas(monedas_dominicanas, 5423)
display(m)
print('\niteraciones: ', i)

        cantidad
moneda
2000           2
1000           1
200            2
20             1
1              3

iteraciones:  53

Existen algunos sistemas de monedas en las que el método voraz no es tan eficiente como otros métodos, debido a la cantidad de iteraciones que necesita para obtenerse el cambio de moneda.

Ej.:

In [0]:
monedas_no_voraces = [1, 5, 11, 20500, 35000]

# mostrar resultado e iteraciones
i, m = menor_num_monedas(monedas_no_voraces, 5423)
display(m)
print('\niteraciones: ', i)

        cantidad
moneda
11           493

iteraciones:  1479